<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="heading">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jason Triche</title>
    <link rel="manifest" href="/resources/config/manifest.json">
    <link rel="icon" href="/resources/images/linkedin_logo.png">
    <script src="/jquery/jquery.js"></script>
    <script src="/mdl/material.min.js"></script>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

    <script type="text/javascript" src="http://github-profile.com/dist/gh-profile-card.min.js"></script>

    <script src="/resources/javascript/activeblocks.js"></script>
    <script src="/resources/javascript/tabs.js"></script>

    <link rel="stylesheet" href="http://github-profile.com/dist/gh-profile-card.min.css" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <link rel="stylesheet" type="text/css" media="all"
          href="/mdl/material.min.css"
          th:href="@{/mdl/material.min.css}">

    <link rel="stylesheet" type="text/css" media="all"
          href="/resources/css/fonts.css"
          th:href="@{/resources/css/fonts.css}"/>

    <link rel="stylesheet" type="text/css" media="all"
          href="/resources/css/style.css"
          th:href="@{/resources/css/style.css}"/>

    <link rel="stylesheet" type="text/css" media="all"
          href="/resources/css/buttons.css"
          th:href="@{/resources/css/buttons.css}"/>

    <link rel="stylesheet" type="text/css" media="all"
          href="/resources/css/card.css"
          th:href="@{/resources/css/card.css}"/>

    <link rel="stylesheet" type="text/css" media="all"
          href="/resources/css/cover.css"
          th:href="@{/resources/css/cover.css}"/>




</head>
<body>

</body>
</html>
