.github-button {
    border: none;
    background-color: inherit;
    color: #000000;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    min-height: 50px;
    line-height: 50px;
    font-family: 'ProximaNovaLight','sans-serif';
    min-width: 200px;
    font-size: 30px;
    font-weight: 100;
    padding: 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.github-button:hover {
    color: #d0d0d0;
    text-decoration: none;
}


.email-button {
    border: none;
    background-color: inherit;
    color: #0BD3D3;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    min-height: 50px;
    line-height: 50px;
    font-family: 'ProximaNovaLight','sans-serif';
    min-width: 200px;
    font-size: 30px;
    font-weight: 100;
    padding: 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.email-button:hover {
    color: #d0d0d0;
    text-decoration: none;
}



.linkedin-button {
    border: none;
    background-color: inherit;
    color: #0077B5;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    min-height: 50px;
    line-height: 50px;
    font-family: 'ProximaNovaLight','sans-serif';
    min-width: 200px;
    font-size: 30px;
    font-weight: 100;
    padding: 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.linkedin-button:hover {
    color: #d0d0d0;
    text-decoration: none;
}

@font-face {
    font-family: 'ProximaNovaLight';
    font-style: normal;
    font-weight: normal;
    src: url("/resources/fonts/FontsFree-Net-Proxima-Nova-Light.otf") format("opentype");
}

@font-face {
    font-family: 'Digital';
    font-style: normal;
    font-weight: normal;
    src: url("/resources/fonts/IntellectaDigital.otf") format("opentype");
}

