<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/heading::heading">
</head>
<body>

<div class="mdl-layout wrapper emailsuccess-cover center-child">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone center-child">
            <p style="" id="walking-title" class="opaque-7 intro-words">Thank You</p>
        </div>

        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone center-child">
            <h1 class="emailsuccess-title-font title-font-tablet fade-in" id="title">Email Success</h1>
        </div>


                <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone center-child">
                    <a href="/home"><button class="welcome-button button-animate">Return Home</button></a>
                </div>


        </div>
    </div>


</body>
</html>
