<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/heading::heading">
</head>
<body>

<div class="mdl-layout wrapper error-cover center-child">
    <div class="mdl-grid">

        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone center-child">
            <p style="" id="walking-title" class="opaque-7 intro-words">Sorry,</p>
        </div>

        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone center-child">
            <h1 class="error-title-font title-font-tablet fade-in" id="title">ERROR OCCURRED</h1>
        </div>


                <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone center-child">
                    <a href="/home"><button class="welcome-button button-animate">Return Home</button></a>
                </div>


        </div>
    </div>


</body>
<style>
    .LI-badge-container {
        height:100% !important;
        width:100% !important;
    }
</style>
</html>
