<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:insert="/fragment/heading.html :: heading"></div>
<div th:insert="/fragment/header.html :: header"></div>
<main class="mdl-layout mdl-layout__content wrapper change-color">

    <div class="mdl-grid jsblock inactive-block">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="jasontriche">
                <a class="LI-simple-link" href='https://www.linkedin.com/in/jasontriche?trk=profile-badge'>Jason Triche 1</a>
            </div>
        </div>


        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone center-child"><h2 class="orange-text italic-text subtitle-font remove-padding slide-in">Good Work</h2></div>

        <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone center-child">
            <div class="fade-in">
                <div class="mdl-card content-only center-child transparent" >
                    <div class="mdl-card__media center-child" id="github_card">
                        <img class="img-responsive" src="/resources/images/github-256.png">
                        <div class="mdl-card__actions center-child">
                            <a href="https://www.github.com/teachnologist" id="github_link" class="center-self nojs-link" target="_blank"><button class="github-button link-font">View Repo</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone center-child">
            <div class="fade-in">
                <div class="mdl-card content-only center-child transparent">
                    <div class="mdl-card__media center-child">
                        <img class="img-responsive" src="/resources/images/email-5-256.png">
                        <div class="mdl-card__actions center-child">
                            <a href="/contact" id="contact_link" class="center-self nojs-link" target="_blank"><button id="contact_link_button" class="email-button link-font">Contact</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone center-child">
            <div class="fade-in">
                <div class="mdl-card content-only center-child transparent">
                    <div class="mdl-card__media center-child">
                        <img class="img-responsive" src="/resources/images/info-2-256.png">
                        <div class="mdl-card__actions center-child">
                            <a href="/about" id="about_link" class="center-self nojs-link" target="_blank"><button id="about_link_button" class="email-button link-font">About</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone center-child"><h1 class="title-font grey-text bold-text fade-in">Jason Triche</h1>
        </div>

    </div>

    <div class="mdl-grid no-jsblock active-block">
          <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone center-child"><h1 class="marquee-font bold-text fade-out">Welcome!</h1></div>


        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone center-child"><h1 class="title-font grey-text bold-text fade-in">Jason Triche</h1>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone center-child"><h2 class="orange-text italic-text subtitle-font remove-padding slide-in">Good Work</h2></div>

        <!--STANDARD-->
        <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone center-child">
            <div class="fade-in">
                <div class="mdl-card content-only center-child transparent" >
                    <div class="mdl-card__media center-child" id="github_card">
                        <img class="img-responsive" src="/resources/images/github-3-256.png">
                    <div class="mdl-card__actions center-child">
                        <a href="https://www.github.com/teachnologist" id="github_link" class="center-self nojs-link" target="_blank"><button class="github-button">View Repo</button></a>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone center-child">
            <div class="fade-in">
                <div class="mdl-card content-only center-child transparent">
                    <div class="mdl-card__media center-child">
                        <img class="img-responsive" src="/resources/images/email-5-256.png">
                    <div class="mdl-card__actions center-child">
                        <a href="/contact" id="contact_link" class="center-self nojs-link" target="_blank"><button id="contact_link_button" class="email-button">Email Me</button></a>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone center-child">
            <div class="fade-in">
                <div class="mdl-card content-only center-child transparent" id="linkedin_badge">
                    <div class="mdl-card__media center-child">
                        <img class="img-responsive" src="/resources/images/linkedin-3-256.png">
                    <div class="mdl-card__actions center-child">
                        <a href="https://www.linkedin.com/in/jasontriche" id="linkedin_link" class="center-self nojs-link" target="_blank"><button class="linkedin-button">View Profile</button></a>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <!--STANDARD-->
        <!--JS AFFECTED
        TODO: Merge with modal element to display after click with js on
        -->
        <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone center-child">
            <div class="fade-in">
                <div class="mdl-card content-only center-child transparent" >
                    <div class="mdl-card__media center-child" id="display_window">
                 DISPLAY WINDOW
                    </div>
                </div>
            </div>
        </div>




        <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone center-child">
            <div class="fade-in">
                <div class="mdl-card content-only center-child transparent" id="contact_form">
                    <div class="mdl-card__media" >
                        <img class="img-responsive" src="/resources/images/email_logo.png">
                    </div>
                    <div class="mdl-card__supporting-text center-child">
                        <p>Contact Me</p>
                    </div>
                    <div class="mdl-card__actions center-child">
                        <a href="/contact" id="contact_link1" class="center-self orange-text">Contact</a>
                    </div>
                </div>
            </div>
        </div>








        <!--JS AFFECTED-->




</div>
    </main>


</body>
<script>
    $(document).ready(function(){
        alert("jquery on");
        $(".no-jsblock").removeClass("active-block");
        $(".no-jsblock").addClass("inactive-block");
        $(".jsblock").removeClass("inactive-block");
        $(".jsblock").addClass("active-block");




     //   $("#contact_form").css("display","none");
     /*   getForm();

        $(".nojs-link").attr("href","#");
        $(".nojs-link").removeAttr('target');


        $("#contact_link").click(function(){
            if($("#contact_form").css("display") != "none"){
                hideForm();
        }else{
                showForm();
        }
        });


        $("#github_link").click(function(){
            alert(1);
                getGithubCard();
                alert(3);
                return false;

        });


        $("#linkedin_link").click(function(){
            alert(2);
            getLinkedInBadge();
            return false;
        });


        function getGithubCard(){
            var widget = new GitHubCard({
                username: 'TEACHNOLOGIST',
                template: '#display_window',
                sortBy: 'updateTime',
                reposHeaderText: 'Active Repos',
                maxRepos: 3
            });

            widget.init();
            console.log("initialized - possibly has to be loaded while window loads");


            return false;
        }

        function getLinkedInBadge(){
            $("#display_window").load('/resources/jqtemplates/linkedin.html #linkedin_card');

        }

        function getForm() {
            hideForm();
            $("#contact_form").load('/resources/jqtemplates/contact.html #form_card', function () {

                $("#submit").click(function () {

                    alert($("#fromemail").val());
                    hideForm();
                    return false;
                });

                $("#cancel").click(function () {
                    hideForm();
                    return false;
                });

            });
        }

        function hideForm(){

            $("#contact_form").css("display","none");

        }

        function showForm(){

            $("#contact_form").css("display","block");

        }*/

    });

</script>
</html>