<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Material Design</title>
    <script src="/jquery/jquery.js"></script>
    <script src="/mdl/material.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all"
          href="/mdl/material.min.css"
          th:href="@{/mdl/material.min.css}">


    <link rel="stylesheet" type="text/css" media="all"
          href="/resources/css/style.css"
          th:href="@{/resources/css/style.css}"/>


</head>
<body>



<div class="mdl-layout wrapper change-color">
    <div class="mdl-grid">

          <div class="mdl-cell mdl-cell--12-col center-child"><h1 class="marquee-font bold-text fade-out">Welcome!</h1></div>


        <div class="mdl-cell mdl-cell--12-col center-child"><h1 class="title-font grey-text bold-text fade-in">Jason Triche</h1></div>
        <div class="mdl-cell mdl-cell--12-col center-child"><h2 class="orange-text italic-text subtitle-font remove-padding slide-in">Good Work</h2></div>

        <div class="mdl-cell mdl-cell--4-col center-child">
            <div class="fade-in">
                <div class="mdl-card content-only center-child transparent">
                    <div class="mdl-card__media">
                        <img class="img-responsive" src="/resources/images/GitHub-Mark-120px-plus.png">
                    </div>
                    <div class="mdl-card__supporting-text center-child">
                        <p>View my public repo at Github</p>
                    </div>
                    <div class="mdl-card__actions center-child">
                        <a href="https://www.github.com/teachnologist" class="center-self orange-text">View My Repo</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--4-col center-child">
            <div class="fade-in">
                <div class="mdl-card content-only center-child transparent">
                    <div class="mdl-card__media">
                        <img class="img-responsive" src="/resources/images/email_logo.png">
                    </div>
                    <div class="mdl-card__supporting-text center-child">
                        <p>Contact Me</p>
                    </div>
                    <div class="mdl-card__actions center-child">
                        <a href="/contact" id="contact_link" class="center-self orange-text">Contact</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--4-col center-child">
            <div class="fade-in">
                <div class="mdl-card content-only center-child transparent">
                    <div class="mdl-card__media">
                        <img class="img-responsive" src="/resources/images/linkedin_logo.png">
                    </div>
                    <div class="mdl-card__supporting-text center-child">
                        <p>View my profile</p>
                    </div>
                    <div class="mdl-card__actions center-child">
                        <a href="https://www.github.com/teachnologist" class="center-self orange-text">View My Repo</a>
                    </div>
                </div>
            </div>
        </div>


<div id="contact_form" style="background-color:pink">

</div>
    </div>
</div>
</body>
<script>
    $(document).ready(function(){
        alert("jquery on");


     //   $("#contact_form").css("display","none");
        getForm();

        $("#contact_link").attr("href","#");


        $("#contact_link").click(function(){
            if($("#contact_form").css("display") != "none"){
                hideForm();
        }else{
                showForm();
        }


        });

        function getForm() {
            hideForm();
            $("#contact_form").load('/resources/jqtemplates/contact.html #form_card', function () {

                $("#submit").click(function () {

                    alert($("#fromemail").val());
                    hideForm();
                    return false;
                });

            });
        }

        function hideForm(){

            $("#contact_form").css("display","none");

        }

        function showForm(){

            $("#contact_form").css("display","block");

        }

    });

</script>
</html>